# Challenge Week 02

## Load data from api

In [1]:
# Libraries
import os
import numpy as np
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt
from kaggle.api.kaggle_api_extended import KaggleApi

# Initialize the Kaggle API
api = KaggleApi()
api.authenticate()

# Define the dataset and file name
dataset = 'yasserh/titanic-dataset'
file_name = 'Titanic-Dataset.csv'

# Download the file from kaggle
api.dataset_download_file(dataset, file_name)

# Load the data
data = pd.read_csv(file_name, delimiter=',')

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /Users/ivesbrunner/.kaggle/kaggle.json'
Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /Users/ivesbrunner/.kaggle/kaggle.json'

## Identify data types

In [20]:
#Â Identify the data types in the Titanic data set
data_types = data.dtypes
print(data_types)

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

## Transform variable

In [ ]:
gender_matrix = pd.get_dummies(data['Sex'])
print(gender_matrix)

     female   male
0     False   True
1      True  False
2      True  False
3      True  False
4     False   True
..      ...    ...
886   False   True
887    True  False
888    True  False
889   False   True
890   False   True

[891 rows x 2 columns]

## Create subset

In [26]:
subset = data[(data['Survived'] == 1) & ((data['Sex'] == 'female') & (data['Age'] > 45) | (data['Sex'] == 'male') & (data['Age'] < 20))]
print(subset[['Survived', 'Sex', 'Age']])

     Survived     Sex    Age
11          1  female  58.00
15          1  female  55.00
52          1  female  49.00
78          1    male   0.83
125         1    male  12.00
165         1    male   9.00
183         1    male   1.00
193         1    male   3.00
195         1  female  58.00
204         1    male  18.00
220         1    male  16.00
226         1    male  19.00
259         1  female  50.00
261         1    male   3.00
268         1  female  58.00
275         1  female  63.00
283         1    male  19.00
299         1  female  50.00
305         1    male   0.92
340         1    male   2.00
348         1    male   3.00
366         1  female  60.00
407         1    male   3.00
445         1    male   4.00
458         1  female  50.00
483         1  female  63.00
489         1    male   9.00
496         1  female  54.00
513         1  female  54.00
526         1  female  50.00
549         1    male   8.00
550         1    male  17.00
556         1  female  48.00
571         1  female  53.00
591         1  female  52.00
751         1    male   6.00
754         1  female  48.00
755         1    male   0.67
765         1  female  51.00
774         1  female  54.00
788         1    male   1.00
796         1  female  49.00
802         1    male  11.00
803         1    male   0.42
820         1  female  52.00
827         1    male   1.00
829         1  female  62.00
831         1    male   0.83
862         1  female  48.00
869         1    male   4.00
871         1  female  47.00
879         1  female  56.00

## Number of results

In [28]:
print(len(subset))

52